p,h1 {
  color:red;
  border: 2px solid green;
  width: 500px;
}

#para2{
 color: blue; 
}

.para3{
  color:orange;
  font-family: 'Roboto', serif;
  font-size: 48px;
  padding: 10px 20px;
  margin: 0 auto;
}

img[alt]
{
  border: 2px solid black;
  margin: 0 auto;
  display: block;
}

a:hover{
  color:green;
}
/*
h1{
  color: blue;
  border: 2px solid black;
}
*/
